<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98978d">  <td>19/01/09 19:32:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;EbayApp.setup()[pri:0, instance:Appium.MobileAutomation.EbayApp@1786dec2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936580213</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/01/09 19:32:38</td>   <td>12759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EbayApp.eBayLogin(java.lang.String, java.lang.String)[pri:0, instance:Appium.MobileAutomation.EbayApp@1786dec2]">eBayLogin</td> 
  <td>main@936580213</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/01/09 19:33:08</td>   <td>42860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EbayApp.eBaySearchAnItem()[pri:2, instance:Appium.MobileAutomation.EbayApp@1786dec2]">eBaySearchAnItem</td> 
  <td>main@936580213</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/01/09 19:33:23</td>   <td>58177</td> <td title="&lt;&lt;EbayApp.teardown()[pri:0, instance:Appium.MobileAutomation.EbayApp@1786dec2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936580213</td>   <td></td> </tr>
</table>
